@import url('https://fonts.googleapis.com/css2?family=Abel&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Mulish', sans-serif;
    padding-bottom: 60px;
    font-size: 16px;
    margin: 0 auto;
    color: #373F41;
}
h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 55.22px;
    align-items: center;
}
h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37.65px;
}
h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.59px;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #3C64B1;
}
.p--gray {
    font-weight: 400;
    line-height: 20.08px;
    color: #737B7D;
}
.p--black {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.57px;
    align-items: center;
}
.p--blue {
    font-weight: 700;
    font-size: 14px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
}
.btn--default {
    font-family: 'Mulish', sans-serif;
    border: 1px solid #3C64B1;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.57px;
    cursor: pointer;
}
.btn--blue {
    background-color: #3C64B1;
    color: #fff;
}
.btn--blue:hover {
	background-color: #EFF3FF;
	border: 1px solid #3C64B1;
	color: #3C64B1;
}
.btn--white {
    background-color: none;
    color: #3C64B1;
}
.btn--white:hover {
	background-color: #3C64B1;
	color: white;
}
.gallery__img {
    width: 100%;
    color: #D9D9D9FF;
}
img {
    max-width: 100%;
}

main, .main__figure, .main__container, .container__features ul li>div,
.container__features ul li>div>div, .top__content, form, .bottom__content, .container__gallery li, .gallery__content {
	display: flex;
	flex-direction: column;
}
figure figcaption, .container__features, .features__content,
.container__features ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	background-color: #EFF3FF;
	z-index: 999;
	gap: 10px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	padding: 23px 72px;
}
.header__links {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.header__links a {
	font-weight: 600;
	line-height: 17.57px;
}
.header__btn {
	display: flex;
	align-items: center;
	gap: 20px;
}
.header__btn a {
	border: none;
}
.header--menu {
	height: 30px;
	display: none;
}

main {
	gap: 80px;
}
.main__figure {
	width: 100%;
	position: relative;
}
.figure__bg {
	width: 100%;
	height: 560px;
	background-size: cover;
	background-position: center;
	color: #3C64B1;
	opacity: 0.08;
}
figure figcaption {
	position: absolute;
	margin: atuo;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: grid;	
	grid-template-rows: auto auto 1fr;
	align-items: center;
	gap: 40px;
}
figcaption h3 {
	grid-row: 1;
}
figcaption p {
	grid-row: 2;
}
.figcaption__btn {
	grid-row: 3;
	display: flex;
	justify-content: center;
	gap: 24px;
}
.figcaption__btn button {

}
.main__container {
	max-width: 1200px;
	margin: auto;
	gap: 80px;
}
.container__features {
	gap: 60px;
}
.features__content {
	text-align: center;
	margin: auto;
	gap: 20px;
}
.container__features ul {
	margin: 0 60px;
}
.container__features ul li {
	justify-content: space-between;
	text-align: center;
	gap: 20px;
}
.container__features img {
	margin: auto;
}
.container__features ul li>div {
	gap: 20px;
}
.container__features ul li>div>div {
	gap: 10px;
}
.container__wrapper__top, .container__wrapper__bottom {
	display: flex;
	gap: 40px;
}
.top__content, .bottom__content {
	justify-content: center;
	gap: 40px;
}
form {
	gap: 20px;
}
form div {
	display: grid;
	grid-template-rows: 1fr;
	gap: 20px;
}
form input {
	border: none;
	padding: 10px;
	font-size: 16px;
	grid-column: 1/10;
	background-color: #F4F5F4;
}
form button {
	grid-column: 10/10;
}
form p {
	font-weight: 600;
	font-size: 12px;
	line-height: 15.06px;
	color: #737B7D;
	margin-top: 16px;
}
.bottom__content {
	gap: 60px;
}
.bottom__content h4 {
	margin-right: 20px;
}
.bottom__content ul {
	gap: 30px;
}
.bottom__content li img {
	margin-bottom: 20px;
}
.container__gallery {
	flex-direction: row;
	text-align: center;
}
.container__gallery li {
	width: 20%;
	gap: 20px;
}
.gallery__content {
	gap: 15px;
}

@media (max-width: 1080px) {
	body, header, main {
		width: 100%;
	}
	.header {
		justify-content: space-around;
		padding: 23px 0;
	}
	.main__figure {
		width: 100%;
	}
	.main__container {
		width: 85%;
	}
	.main__container > * {
		width: 100%;
	}
	.top__img, .bottom__img {
		width: 45%;
        object-fit: contain;
	}
}
@media (max-width: 768px) {
	.container__features ul {
		margin: auto;
	}
	.container__wrapper__top, .container__wrapper__bottom {
		flex-direction: column;
		align-items: center;
	}
	.top__img, .bottom__img {
		width: 100%;
	}
	.container__gallery {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.container__gallery li {
		width: 40%;
	}
}
@media (max-width: 480px) {
	.header {
        position: relative;
        justify-content: space-between;
        padding: 23px 20px;
        z-index: 999;
    }
	.header__links,
    .header__btn {
        display: none;
    }
    .header--menu {
        display: block;
        cursor: pointer;
    }
    .header__links,
    .header__btn {
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 110%;
        right: 20px;
        background-color: #EFF3FFFF;
        padding: 20px 30px;
        border: 1px solid #ccc;
        border-top: none;
        gap: 10px;
    }
    .header__btn {
        top: 185%;
        justify-content: space-around;
    }
    figcaption {
    	width: inherit;
    }
    .container__features ul {
    	flex-direction: column;
    }
    form div {
    	grid-template-columns: 1fr;
		width: 100%;
    	gap: 20px;
    }
    form input, form button {
		grid-column: 1/1;
    }
    .container__gallery li {
    	width: 50%;
    	margin: 0 auto;
    }
}