@import url("https://fonts.googleapis.com/css2?family=Abel&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  padding: 0, 0, 60px, 0;
  width: 1440px;
  height: 2498.33px;
}

header {
  width: 1440px;
  height: 86px;
  padding: 23px, 72px;
  gap: 10px;
  background-color: rgb(239, 243, 255);
  position: sticky;
}
header .header {
  width: 1200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  align-items: center;
  margin: 0 auto;
}
header .header .header-logo {
  width: 63.4px;
  height: 35.21px;
  cursor: pointer;
}
header .header .header-text-1 {
  width: 215px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
header .header .header-text-1 p {
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.57px;
  color: #373F41;
}
header .header .header-text-2 {
  width: 169px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
header .header .header-text-2 .header-btn-login {
  width: 42px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57ox;
  align-items: center;
  color: rgb(60, 100, 177);
  cursor: pointer;
}
header .header .header-text-2 .header-btn {
  width: 107px;
  height: 40px;
  background-color: #3C64B1;
  border: none;
  color: white;
  padding: 10px, 20px;
  cursor: pointer;
}
header .header .header-text-2 .header-btn span {
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
}

main {
  width: 1440px;
  height: 2352.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
main .container-1 {
  width: 1440px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}
main .container-1 .content-synthetic {
  width: 730px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 355px;
  gap: 40px;
  margin: auto;
  z-index: 1;
}
main .container-1 .content-synthetic .content-synthetic-synthetic {
  width: 730px;
  height: 180px;
  gap: 30px;
}
main .container-1 .content-synthetic .content-synthetic-synthetic .content-content {
  width: 730px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
main .container-1 .content-synthetic .content-synthetic-synthetic .content-content .content-h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 55.22px;
  align-items: center;
  color: rgb(55, 63, 65);
  text-align: center;
}
main .container-1 .content-synthetic .content-synthetic-synthetic .content-text {
  width: 730px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container-1 .content-synthetic .content-synthetic-synthetic .content-text .content-text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.08px;
  align-items: center;
  color: rgb(115, 123, 125);
  text-align: center;
}
main .container-1 .content-synthetic .container-btn-synthetic {
  width: 275px;
  height: 40px;
  display: flex;
  gap: 24px;
}
main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 {
  background-color: #3C64B1;
  border: none;
  color: white;
  width: 135px;
  height: 40px;
  padding: 10px, 20px;
  cursor: pointer;
}
main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 span {
  width: 95px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
  color: white;
}
main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 {
  background-color: none;
  border: 1px solid #3C64B1;
  color: #3C64B1;
  width: 116px;
  height: 40px;
  padding: 10px, 20px;
  cursor: pointer;
}
main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 span {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
  color: #3C64B1;
}
main .container-1 .container-1-bg {
  width: 1440px;
  height: 560px;
  object-fit: contain;
  background-image: url("../images/main/container-1/bg.jpeg");
  background-size: cover;
  background-position: center;
  color: rgb(60, 100, 177);
  opacity: 0.08;
}
main .container-2 {
  width: 1200px;
  height: 1712.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
main .container-2 .container-2-1 {
  width: 1200px;
  height: 298.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: auto;
}
main .container-2 .container-2-1 .container-2-1-1 {
  width: 920px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: auto;
}
main .container-2 .container-2-1 .container-2-1-1 .container-2-1-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37.65px;
  align-items: center;
  color: #373F41;
  width: 920px;
  height: 38px;
  margin-bottom: 20px;
}
main .container-2 .container-2-1 .container-2-1-1 .container-2-1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.08px;
  align-items: center;
  color: #737B7D;
  width: 920px;
  height: 20px;
}
main .container-2 .container-2-1 .container-2-1-2 {
  width: 1080px;
  height: 160.33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column {
  width: 333.33px;
  height: 157px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text {
  width: 333.33px;
  height: 119px;
  gap: 20px;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text {
  width: 350px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text h4 {
  width: 350px;
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.59px;
  align-items: center;
  color: #373F41;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text p {
  width: 350px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
  color: #373F41;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual {
  width: 58px;
  height: 18px;
  gap: 10px;
}
main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual p {
  width: 58px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
  color: #3C64B1;
}
main .container-2 .container-2-2 {
  width: 1200px;
  height: 420px;
  display: flex;
  margin: auto;
  gap: 40px;
}
main .container-2 .container-2-2 img {
  width: 600px;
  height: 420px;
  background-color: #D9D9D9;
}
main .container-2 .container-2-2 .container-2-2-content {
  width: 560px;
  height: 320px;
  margin: auto;
  gap: 40px;
}
main .container-2 .container-2-2 .container-2-2-content .content-title-text {
  width: 560px;
  height: 194px;
  gap: 20px;
}
main .container-2 .container-2-2 .container-2-2-content .content-title-text h4 {
  width: 540px;
  height: 114px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37.65px;
  color: #373F41;
}
main .container-2 .container-2-2 .container-2-2-content .content-title-text p {
  width: 540px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.08px;
  color: #737B7D;
}
main .container-2 .container-2-2 .container-2-2-content .field {
  width: 560px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
main .container-2 .container-2-2 .container-2-2-content .field .form {
  width: 560px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 20px;
}
main .container-2 .container-2-2 .container-2-2-content .field .form input {
  width: 405px;
  height: 40px;
  background-color: #F4F5F4;
  gap: 10px;
  border: 0;
}
main .container-2 .container-2-2 .container-2-2-content .field .form button {
  width: 135px;
  height: 40px;
  background-color: #3C64B1;
  border: none;
  color: white;
  padding: 10px, 20px;
  cursor: pointer;
}
main .container-2 .container-2-2 .container-2-2-content .field .form button span {
  width: 95px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
  color: #FFFFFF;
}
main .container-2 .container-2-2 .container-2-2-content .field p {
  width: 560px;
  height: 30px;
  font-weight: 600m;
  font-size: 12px;
  line-height: 15.06px;
  color: #737B7D;
}
main .container-2 .container-2-3 {
  width: 1200px;
  height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: auto;
}
main .container-2 .container-2-3 .container-2-3-content {
  width: 560px;
  height: 284px;
  margin: auto 0;
  gap: 60px;
}
main .container-2 .container-2-3 .container-2-3-content h4 {
  width: 540px;
  height: 114px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37.65px;
  color: #373F41;
  margin-bottom: 30px;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column {
  width: 560px;
  height: 110px;
  gap: 30px;
  display: flex;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left {
  width: 255px;
  height: 110px;
  gap: 20px;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left img {
  width: 26.9px;
  height: 30px;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left p {
  width: 255px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.08px;
  color: #737B7D;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right {
  width: 255px;
  height: 110px;
  gap: 20px;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right img {
  width: 36.67px;
  height: 30px;
}
main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right p {
  width: 255px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.08px;
  color: #737B7D;
}
main .container-2 .container-2-3 img {
  width: 600px;
  height: 420px;
  background-repeat: no-repeat;
  background-position: center center;
}
main .container-2 .container-2-4 {
  width: 1200px;
  height: 334px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
main .container-2 .container-2-4 .con-5-column {
  width: 240px;
  height: 334px;
  gap: 20px;
}
main .container-2 .container-2-4 .con-5-column img {
  width: 240px;
  height: 240px;
}
main .container-2 .container-2-4 .con-5-column .con-5-column-content {
  width: 240px;
  height: 74px;
  text-align: center;
  gap: 15px;
}
main .container-2 .container-2-4 .con-5-column .con-5-column-content h4 {
  width: 240px;
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.59px;
  align-items: center;
  color: #373F41;
}
main .container-2 .container-2-4 .con-5-column .con-5-column-content p {
  width: 240px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.57px;
  align-items: center;
  color: #373F41;
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
    width: 100%;
    height: 100vh;
    font-family: "Mulish", sans-serif;
    padding: 0, 0, 60px, 0;
  }
  header {
    width: 100%;
    height: 86px;
    gap: 10px;
    background-color: rgb(239, 243, 255);
    position: sticky;
  }
  header .header {
    width: 83.33%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    align-items: center;
  }
  header .header .header-logo {
    width: 52.8px;
    height: 29.3px;
    cursor: pointer;
  }
  header .header .header-text-1 {
    width: 215px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  header .header .header-text-1 p {
    height: 18px;
    font-size: 12.4px;
  }
  header .header .header-text-2 {
    width: 169px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  header .header .header-text-2 .header-btn-login {
    width: 42px;
    height: 18px;
    font-weight: 700;
    font-size: 9.64px;
    line-height: 17.57px;
    align-items: center;
    color: rgb(60, 100, 177);
    cursor: pointer;
  }
  header .header .header-text-2 .header-btn {
    width: 107px;
    height: 40px;
    background-color: #3C64B1;
    border: none;
    color: white;
    padding: 10px, 20px;
    cursor: pointer;
  }
  header .header .header-text-2 .header-btn span {
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.57px;
    align-items: center;
    font-size: 9.64px;
  }
  main {
    width: 100%;
    height: 2352.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  main .container-1 {
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
  }
  main .container-1 .content-synthetic {
    width: 100%;
    height: 216.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    position: absolute;
    top: 200px;
    left: 0;
    gap: 40px;
    margin: auto;
    z-index: 1;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic {
    width: 608.3px;
    height: 150px;
    gap: 30px;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-content {
    width: 608.3px;
    height: 91.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-content .content-h3 {
    font-weight: 700;
    font-size: 30.31px;
    line-height: 55.22px;
    align-items: center;
    color: rgb(55, 63, 65);
    text-align: center;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-text {
    width: 608.3p;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-text .content-text-p {
    font-weight: 400;
    font-size: 11.02px;
    line-height: 20.08px;
    align-items: center;
    color: rgb(115, 123, 125);
    text-align: center;
  }
  main .container-1 .content-synthetic .container-btn-synthetic {
    width: 229.2px;
    height: 40px;
    display: flex;
    gap: 24px;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 {
    background-color: #3C64B1;
    border: none;
    color: white;
    width: 112.5px;
    height: 40px;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 span {
    width: 95px;
    height: 18px;
    font-weight: 700;
    font-size: 9.64px;
    line-height: 17.57px;
    align-items: center;
    color: white;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 {
    background-color: none;
    border: 1px solid #3C64B1;
    color: #3C64B1;
    width: 96.7px;
    height: 40px;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 span {
    font-weight: 700;
    font-size: 9.64px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
  }
  main .container-1 .container-1-bg {
    width: 100%;
    height: 560px;
    background-image: url("../images/main/container-1/bg.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(60, 100, 177);
    opacity: 0.08;
  }
  main .container-2 {
    width: 83.33%;
    height: 1712.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-2 .container-2-1 {
    width: 100%;
    height: 298.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-1 {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-1 .container-2-1-title {
    font-weight: 700;
    font-size: 20.68px;
    line-height: 37.65px;
    align-items: center;
    color: #373F41;
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-1 .container-2-1-text {
    font-weight: 400;
    font-size: 11.02px;
    line-height: 20.08px;
    align-items: center;
    color: #737B7D;
    width: 100%;
    height: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-2 {
    width: 83.33%;
    height: 160.33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column {
    width: 221.5px;
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text {
    width: 221.5px;
    height: 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text {
    width: 221.5px;
    height: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text h4 {
    width: 221.5px;
    height: 23px;
    font-weight: 700;
    font-size: 12.4px;
    line-height: 22.59px;
    align-items: center;
    color: #373F41;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text p {
    width: 221.5px;
    height: 36px;
    font-weight: 400;
    font-size: 9.64px;
    line-height: 17.57px;
    align-items: center;
    color: #373F41;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual {
    width: 58px;
    height: 18px;
    margin-top: 20px;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual p {
    width: 58px;
    height: 18px;
    font-weight: 700;
    font-size: 9.64px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
  }
  main .container-2 .container-2-2 {
    width: 100%;
    height: 420px;
    display: flex;
    margin: auto;
  }
  main .container-2 .container-2-2 img {
    width: 500px;
    height: 350px;
    background-color: #D9D9D9;
  }
  main .container-2 .container-2-2 .container-2-2-content {
    width: 303.3px;
    height: 320px;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text {
    width: 303.3px;
    height: 194px;
    margin-bottom: 20px;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text h4 {
    width: 303.3px;
    height: 114px;
    font-weight: 700;
    font-size: 20.68px;
    line-height: 37.65px;
    color: #373F41;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text p {
    width: 303.3px;
    height: 60px;
    font-weight: 400;
    font-size: 11.02px;
    line-height: 20.08px;
    color: #737B7D;
  }
  main .container-2 .container-2-2 .container-2-2-content .field {
    width: 303.3px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form {
    width: 303.3px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 6px;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form input {
    width: 180px;
    height: 40px;
    background-color: #F4F5F4;
    gap: 10px;
    border: 0;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form button {
    width: 100px;
    height: 40px;
    background-color: #3C64B1;
    border: none;
    color: white;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form button span {
    width: 95px;
    height: 18px;
    font-weight: 700;
    font-size: 9.64px;
    line-height: 17.57px;
    align-items: center;
    color: #FFFFFF;
  }
  main .container-2 .container-2-2 .container-2-2-content .field p {
    width: 293.3px;
    height: 30px;
    font-weight: 600m;
    font-size: 8.27px;
    line-height: 15.06px;
    color: #737B7D;
  }
  main .container-2 .container-2-3 {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 40px;
  }
  main .container-2 .container-2-3 .container-2-3-content {
    width: 100%;
    height: 284px;
    object-fit: contain;
    margin: auto 0;
    gap: 60px;
  }
  main .container-2 .container-2-3 .container-2-3-content h4 {
    width: 450px;
    height: 114px;
    font-weight: 700;
    font-size: 20.68px;
    line-height: 37.65px;
    color: #373F41;
    margin-bottom: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column {
    width: 466.7px;
    height: 110px;
    gap: 30px;
    display: flex;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left {
    width: 212.5px;
    height: 110px;
    gap: 20px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left img {
    width: 26.9px;
    height: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left p {
    width: 200px;
    height: 60px;
    font-weight: 400;
    font-size: 11.02px;
    line-height: 20.08px;
    color: #737B7D;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right {
    width: 212.5px;
    height: 110px;
    gap: 20px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right img {
    width: 36.67px;
    height: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right p {
    width: 200px;
    height: 60px;
    font-weight: 400;
    font-size: 11.02px;
    line-height: 20.08px;
    color: #737B7D;
  }
  main .container-2 .container-2-3 img {
    width: 400px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  main .container-2 .container-2-4 {
    width: 100%;
    height: 334px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  main .container-2 .container-2-4 .con-5-column {
    width: 188.3px;
    height: 334px;
    gap: 20px;
  }
  main .container-2 .container-2-4 .con-5-column img {
    width: 188.3px;
    height: 188.3px;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content {
    width: 188.3px;
    height: 74px;
    text-align: center;
    gap: 15px;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content h4 {
    width: 188.3px;
    height: 23px;
    font-weight: 700;
    font-size: 12.4px;
    line-height: 22.59px;
    align-items: center;
    color: #373F41;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content p {
    width: 188.3px;
    height: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 9.64px;
    align-items: center;
    color: #373F41;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  body {
    font-family: "Mulish", sans-serif;
    padding: 0, 0, 60px, 0;
    width: 100%;
    height: 100vh;
  }
  header {
    width: 100%;
    height: 86px;
    gap: 10px;
    background-color: rgb(239, 243, 255);
    position: sticky;
  }
  header .header {
    width: 83.33%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    align-items: center;
  }
  header .header .header-logo {
    width: 43.7px;
    height: 24.3px;
    cursor: pointer;
  }
  header .header .header-text-1 {
    width: 148.3px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  header .header .header-text-1 p {
    height: 16px;
    font-size: 7.74px;
  }
  header .header .header-text-2 {
    width: 116.5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  header .header .header-text-2 .header-btn-login {
    width: 50px;
    height: 18px;
    font-weight: 700;
    font-size: 7.74px;
    line-height: 17.57ox;
    align-items: center;
    color: rgb(60, 100, 177);
    cursor: pointer;
  }
  header .header .header-text-2 .header-btn {
    width: 73.8px;
    height: 40px;
    background-color: #3C64B1;
    border: none;
    color: white;
    padding: 10px, 20px;
    cursor: pointer;
  }
  header .header .header-text-2 .header-btn span {
    font-weight: 600;
    font-size: 7.74px;
  }
  main {
    width: 100%;
    height: 2352.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  main .container-1 {
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
  }
  main .container-1 .content-synthetic {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 0;
    gap: 40px;
    margin: auto;
    z-index: 1;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic {
    width: 80%;
    height: 180px;
    justify-content: center;
    margin-bottom: 30px;
    gap: 30px;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-content {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-content .content-h3 {
    font-weight: 700;
    font-size: 24.32px;
    line-height: 55.22px;
    align-items: center;
    color: rgb(55, 63, 65);
    text-align: center;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-text {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-text .content-text-p {
    font-weight: 400;
    font-size: 8.84px;
    line-height: 20.08px;
    align-items: center;
    color: rgb(115, 123, 125);
    text-align: center;
  }
  main .container-1 .content-synthetic .container-btn-synthetic {
    width: 275px;
    height: 40px;
    display: flex;
    gap: 24px;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 {
    background-color: #3C64B1;
    border: none;
    color: white;
    width: 135px;
    height: 40px;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 span {
    width: 95px;
    height: 18px;
    font-weight: 700;
    font-size: 7.74px;
    line-height: 17.57px;
    align-items: center;
    color: white;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 {
    background-color: none;
    border: 1px solid #3C64B1;
    color: #3C64B1;
    width: 116px;
    height: 40px;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 span {
    font-weight: 700;
    font-size: 7.74px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
  }
  main .container-1 .container-1-bg {
    width: 100%;
    height: 560px;
    object-fit: contain;
    background-image: url("../images/main/container-1/bg.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(60, 100, 177);
    opacity: 0.08;
  }
  main .container-2 {
    width: 83.33%;
    height: 1712.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 80px;
  }
  main .container-2 .container-2-1 {
    width: 83.33%;
    height: 298.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 60px;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-1 {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-1 .container-2-1-title {
    font-weight: 700;
    font-size: 16.58px;
    line-height: 37.65px;
    align-items: center;
    color: #373F41;
    width: 100%;
    height: 38px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-1 .container-2-1-text {
    font-weight: 400;
    font-size: 8.84px;
    line-height: 20.08px;
    align-items: center;
    color: #737B7D;
    width: 100%;
    height: 20px;
    object-fit: contain;
  }
  main .container-2 .container-2-1 .container-2-1-2 {
    width: 100%;
    height: 160.33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column {
    width: 30%;
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text {
    width: 100%;
    height: 119px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text h4 {
    width: 100%;
    height: 23px;
    font-weight: 700;
    font-size: 9.95px;
    line-height: 22.59px;
    align-items: center;
    color: #373F41;
    object-fit: contain;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text p {
    width: 100%;
    height: 36px;
    font-weight: 400;
    font-size: 7.74px;
    line-height: 17.57px;
    align-items: center;
    color: #373F41;
    object-fit: contain;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual {
    width: 58px;
    height: 18px;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual p {
    width: 58px;
    height: 18px;
    font-weight: 700;
    font-size: 7.74px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
  }
  main .container-2 .container-2-2 {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
  }
  main .container-2 .container-2-2 img {
    width: 45%;
    object-fit: contain;
    background-color: transparent;
  }
  main .container-2 .container-2-2 .container-2-2-content {
    width: 45%;
    height: 320px;
    margin: auto 0;
    gap: 40px;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text {
    width: 100%;
    height: 194px;
    object-fit: contain;
    margin: auto;
    gap: 20px;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text h4 {
    width: 100%;
    height: 114px;
    font-weight: 700;
    font-size: 16.58px;
    line-height: 37.65px;
    color: #373F41;
    margin: auto;
    object-fit: contain;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text p {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 8.84px;
    line-height: 20.08px;
    color: #737B7D;
    margin: auto;
    object-fit: contain;
  }
  main .container-2 .container-2-2 .container-2-2-content .field {
    width: 100%;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 20px;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form input {
    width: 70%;
    height: 40px;
    background-color: #F4F5F4;
    gap: 10px;
    border: 0;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form button {
    width: 30%;
    height: 40px;
    background-color: #3C64B1;
    border: none;
    color: white;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form button span {
    width: 95px;
    height: 18px;
    font-weight: 700;
    font-size: 7.74px;
    line-height: 17.57px;
    align-items: center;
    color: #FFFFFF;
  }
  main .container-2 .container-2-2 .container-2-2-content .field p {
    width: 100%;
    height: 30px;
    font-weight: 600m;
    font-size: 6.63px;
    line-height: 15.06px;
    color: #737B7D;
  }
  main .container-2 .container-2-3 {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: contain;
    gap: 40px;
    margin: auto;
    align-items: center;
  }
  main .container-2 .container-2-3 .container-2-3-content {
    width: 45%;
    height: 284px;
    object-fit: contain;
    margin: auto 0;
    gap: 60px;
  }
  main .container-2 .container-2-3 .container-2-3-content h4 {
    width: 100%;
    height: 114px;
    font-weight: 700;
    font-size: 16.58px;
    line-height: 37.65px;
    color: #373F41;
    object-fit: contain;
    margin-bottom: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column {
    width: 100%;
    height: 110px;
    object-fit: contain;
    display: flex;
    gap: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left {
    width: 40%;
    height: 110px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left img {
    width: 26.9px;
    height: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left p {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 8.84px;
    line-height: 20.08px;
    color: #737B7D;
    object-fit: contain;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right {
    width: 40%;
    height: 110px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right img {
    width: 36.67px;
    height: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right p {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 8.84px;
    line-height: 20.08px;
    color: #737B7D;
    object-fit: contain;
  }
  main .container-2 .container-2-3 img {
    width: 45%;
    height: 289.6px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  main .container-2 .container-2-4 {
    width: 100%;
    height: 334px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    margin: auto;
  }
  main .container-2 .container-2-4 .con-5-column {
    width: 20%;
    height: 334px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-4 .con-5-column img {
    width: 100%;
    height: 220px;
    object-fit: contain;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content {
    width: 100%;
    height: 74px;
    object-fit: contain;
    text-align: center;
    gap: 15px;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content h4 {
    width: 100%;
    height: 23px;
    font-weight: 700;
    font-size: 9.95px;
    line-height: 22.59px;
    align-items: center;
    color: #373F41;
    object-fit: contain;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content p {
    width: 100%;
    height: 36px;
    font-weight: 400;
    font-size: 7.74px;
    line-height: 17.57px;
    align-items: center;
    color: #373F41;
    object-fit: contain;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  body {
    font-family: "Mulish", sans-serif;
    padding: 0, 0, 60px, 0;
    width: 100%;
    height: 2498.33px;
    object-fit: contain;
  }
  header {
    width: 100%;
    height: 86px;
    object-fit: contain;
    background-color: rgb(239, 243, 255);
    position: sticky;
    gap: 10px;
  }
  header .header {
    width: 83.33%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    align-items: center;
    margin: 0 auto;
  }
  header .header .header-logo {
    width: 15%;
    height: 16.5px;
    object-fit: contain;
    cursor: pointer;
  }
  header .header .header-text-1 {
    width: 30%;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  header .header .header-text-1 p {
    height: 14px;
    font-size: 5.8px;
  }
  header .header .header-text-2 {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    align-items: center;
    gap: 5px;
  }
  header .header .header-text-2 .header-btn-login {
    width: 40%;
    height: 18px;
    object-fit: contain;
    font-weight: 700;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: rgb(60, 100, 177);
    cursor: pointer;
  }
  header .header .header-text-2 .header-btn {
    width: 50%;
    height: 40px;
    background-color: #3C64B1;
    border: none;
    color: white;
    object-fit: contain;
    cursor: pointer;
    padding: 5px 10px;
  }
  header .header .header-text-2 .header-btn span {
    font-size: 5.8px;
  }
  main {
    width: 100%;
    height: 2352.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 80px;
  }
  main .container-1 {
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
  }
  main .container-1 .content-synthetic {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 40px;
    margin: auto;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 0;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic {
    width: 80%;
    height: 180px;
    object-fit: contain;
    gap: 30px;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-content {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin-bottom: 20px;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-content .content-h3 {
    font-weight: 700;
    font-size: 18.3px;
    line-height: 55.22px;
    align-items: center;
    color: rgb(55, 63, 65);
    text-align: center;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-text {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
  }
  main .container-1 .content-synthetic .content-synthetic-synthetic .content-text .content-text-p {
    font-weight: 400;
    font-size: 6.7px;
    line-height: 20.08px;
    align-items: center;
    color: rgb(115, 123, 125);
    text-align: center;
  }
  main .container-1 .content-synthetic .container-btn-synthetic {
    width: 40%;
    height: 40px;
    object-fit: contain;
    display: flex;
    gap: 24px;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 {
    background-color: #3C64B1;
    border: none;
    color: white;
    width: 50%;
    height: 40px;
    object-fit: contain;
    padding: 5px 10px;
    cursor: pointer;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-1 span {
    width: 95px;
    height: 18px;
    font-weight: 700;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: white;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 {
    background-color: none;
    border: 1px solid #3C64B1;
    color: #3C64B1;
    width: 45%;
    height: 40px;
    object-fit: contain;
    padding: 5px 10px;
    cursor: pointer;
  }
  main .container-1 .content-synthetic .container-btn-synthetic .container-1-btn-2 span {
    font-weight: 700;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
  }
  main .container-1 .container-1-bg {
    width: 100%;
    height: 560px;
    object-fit: contain;
    background-image: url("../images/main/container-1/bg.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(60, 100, 177);
    opacity: 0.08;
  }
  main .container-2 {
    width: 83.33%;
    height: 1712.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 80px;
  }
  main .container-2 .container-2-1 {
    width: 100%;
    height: 298.33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 30px;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-1 {
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    text-align: center;
    gap: 10px;
    margin: auto;
  }
  main .container-2 .container-2-1 .container-2-1-1 .container-2-1-title {
    font-weight: 700;
    font-size: 12.5px;
    line-height: 37.65px;
    align-items: center;
    color: #373F41;
    width: 100%;
    height: 38px;
  }
  main .container-2 .container-2-1 .container-2-1-1 .container-2-1-text {
    font-weight: 400;
    font-size: 6.7px;
    line-height: 20.08px;
    align-items: center;
    color: #737B7D;
    width: 100%;
    height: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-2 {
    width: 100%;
    height: 160.33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: contain;
    gap: 40px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column {
    width: 33%;
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    text-align: center;
    gap: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text {
    width: 100%;
    height: 119px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text h4 {
    width: 100%;
    height: 23px;
    font-weight: 700;
    font-size: 7.5px;
    line-height: 22.59px;
    align-items: center;
    color: #373F41;
    object-fit: contain;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-icon-text .column-title-text p {
    width: 100%;
    height: 36px;
    font-weight: 400;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: #373F41;
    object-fit: contain;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual {
    width: 100%;
    height: 18px;
    object-fit: contain;
    gap: 10px;
  }
  main .container-2 .container-2-1 .container-2-1-2 .container-2-column .column-div-textual p {
    width: 100%;
    height: 18px;
    font-weight: 700;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: #3C64B1;
    object-fit: contain;
  }
  main .container-2 .container-2-2 {
    width: 100%;
    height: none;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
  }
  main .container-2 .container-2-2 img {
    width: 50%;
    height: 420px;
    object-fit: contain;
    background-color: #D9D9D9;
  }
  main .container-2 .container-2-2 .container-2-2-content {
    width: 100%;
    height: 320px;
    object-fit: contain;
    margin: auto;
    gap: 40px;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text {
    width: 100%;
    height: 194px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text h4 {
    width: 100%;
    height: 114px;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 37.65px;
    color: #373F41;
    object-fit: contain;
  }
  main .container-2 .container-2-2 .container-2-2-content .content-title-text p {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 6.7px;
    line-height: 20.08px;
    color: #737B7D;
    object-fit: contain;
  }
  main .container-2 .container-2-2 .container-2-2-content .field {
    width: 100%;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    gap: 16px;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form {
    width: 100%;
    height: 40px;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 20px;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form input {
    width: 70%;
    height: 40px;
    object-fit: contain;
    background-color: #F4F5F4;
    gap: 10px;
    border: 0;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form button {
    width: 25%;
    height: 40px;
    background-color: #3C64B1;
    border: none;
    color: white;
    object-fit: contain;
    padding: 10px, 20px;
    cursor: pointer;
  }
  main .container-2 .container-2-2 .container-2-2-content .field .form button span {
    width: 95px;
    height: 18px;
    font-weight: 700;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: #FFFFFF;
  }
  main .container-2 .container-2-2 .container-2-2-content .field p {
    width: 100%;
    height: 30px;
    font-weight: 600m;
    font-size: 5px;
    line-height: 15.06px;
    color: #737B7D;
    object-fit: contain;
  }
  main .container-2 .container-2-3 {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin: auto;
    gap: 40px;
  }
  main .container-2 .container-2-3 .container-2-3-content {
    width: 100%;
    height: 284px;
    object-fit: contain;
    margin: auto 0;
    gap: 60px;
  }
  main .container-2 .container-2-3 .container-2-3-content h4 {
    width: 100%;
    height: 114px;
    object-fit: contain;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 37.65px;
    color: #373F41;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column {
    width: 100%;
    height: 110px;
    object-fit: contain;
    gap: 30px;
    display: flex;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left {
    width: 45%;
    height: 110px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left img {
    width: 26.9px;
    height: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .left p {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 6.7px;
    line-height: 20.08px;
    color: #737B7D;
    object-fit: contain;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right {
    width: 45%;
    height: 110px;
    object-fit: contain;
    gap: 20px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right img {
    width: 36.67px;
    height: 30px;
  }
  main .container-2 .container-2-3 .container-2-3-content .container-2-3-column .right p {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 6.7px;
    line-height: 20.08px;
    color: #737B7D;
    object-fit: contain;
  }
  main .container-2 .container-2-3 img {
    width: 70%;
    height: 420px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  main .container-2 .container-2-4 {
    width: 100%;
    height: 334px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  main .container-2 .container-2-4 .con-5-column {
    width: 45%;
    height: 334px;
    gap: 20px;
  }
  main .container-2 .container-2-4 .con-5-column img {
    width: 100%;
    height: 240px;
    object-fit: contain;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content {
    width: 100%;
    height: 74px;
    object-fit: contain;
    text-align: center;
    gap: 15px;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content h4 {
    width: 100%;
    height: 23px;
    font-weight: 700;
    font-size: 7.5px;
    line-height: 22.59px;
    align-items: center;
    color: #373F41;
  }
  main .container-2 .container-2-4 .con-5-column .con-5-column-content p {
    width: 100%;
    height: 36px;
    font-weight: 400;
    font-size: 5.8px;
    line-height: 17.57px;
    align-items: center;
    color: #373F41;
  }
}

/*# sourceMappingURL=main.css.map */
