@import url('https://fonts.googleapis.com/css2?family=Abel&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "./mixin";

* {
    padding: 0;
    margin: 0;
}

body {
    @include size(1440px, 2498.33px);
    font-family: 'Mulish', sans-serif;
    padding: 0, 0, 60px, 0;
    font-size: 18px;
    margin: 0 auto;
}

header {
    @include size(1440px, 86px);
    padding: 23px, 72px;
    gap: 10px;
    background-color: rgba(239, 243, 255, 1);
    position: sticky;
    .header {
        @include size(1200px, 40px);
        @include disFlexBet();
        padding: 23px 0;
        align-items: center;
        margin: 0 auto;
        .header-logo {
            @include size(63.4px, 35.21px);
            cursor: pointer;
        }
        .header-links {
            @include size(215px, 18px);
            @include disFlexBet();
            gap: 30px;
            li {
                @include headerText1();
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
        }
        .header-btn {
            @include size(169px, 40px);
            @include disFlexBet();
            gap: 20px;
            align-items: center;
            .btn-login {
                @include size(42px, 18px);
                @include mainCon1Text(700, 14px, 17.57ox, center, rgba(60, 100, 177, 1));
                text-decoration: none;
                cursor: pointer;
            }
            .btn-start {
                @include size(107px, 40px);
                @include btn-1();
                padding: 10px, 20px;
                cursor: pointer;
                span {
                    @include headerText2();
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    @include size(1440px, 2352.33px);
    @include disFlexCoCen();
    gap: 80px;
    .container-1 {
        @include size(1440px, 560px);
        @include disFlexCoCen();
        object-fit: contain;
        .content-synthetic {
            @include size(730px, 260px);
            @include disFlexCoCen();
            position: absolute;
            top: 150px;
            left: 355px;
            gap: 40px;
            margin: auto;
            z-index: 1;
            .synthetic {
                @include size(730px, 180px);
                gap: 30px;
                .content {
                    @include size(730px, 110px);
                    @include mainCon1TextP();
                    margin-bottom: 20px;
                    .content-h3 {
                        @include mainCon1Text(700, 44px, 55.22px, center, rgba(55, 63, 65, 1));
                        text-align: center;
                    }
                }
                .content-text {
                    @include size(730px, 40px);
                    @include mainCon1TextP();
                    .content-text-p {
                        @include mainCon1Text(400, 16px, 20.08px, center, rgba(115, 123, 125, 1));
                        text-align: center;
                    }
                }
            }
            .btn-synthetic {
                @include size(275px, 40px);
                display: flex;
                gap: 24px;
                .btn-1 {
                    @include btn-1();
                    @include size(135px, 40px);
                    padding: 10px, 20px;
                    cursor: pointer;
                    span {
                        @include size(95px, 18px);
                        @include mainCon1Text(700, 14px, 17.57px, center, white);
                    }
                }
                .btn-2 {
                    @include btn-2();
                    @include size(116px, 40px);
                    padding: 10px, 20px;
                    cursor: pointer;
                    span {
                        @include mainCon1Text(700, 14px, 17.57px, center, #3C64B1);
                    }
                }
            }
        }
        .bg {
            @include size(1440px, 560px);
            background-size: cover;
            background-position: center;
            color: rgba(60, 100, 177, 1);
            opacity: 0.08;
        }
    }
    .container-2 {
        @include size(1200px, 1712.33px);
        @include disFlexCoCen();
        gap: 80px;
        .features {
            @include size(1200px,298.33px);
            @include disFlexCoCen();
            gap: 60px;
            margin: auto;
            .content {
                @include size(920px, 78px);
                @include disFlexCoCen();
                text-align: center;
                gap: 20px;
                margin: auto;
                .title {
                    @include mainCon1Text(700, 30px, 37.65px, center, #373F41);
                    @include size(920px, 38px);
                    margin-bottom: 20px;
                }
                .text {
                    @include mainCon1Text(400, 16px, 20.08px, center, #737B7D);
                    @include size(920px, 20px);
                }
            }
            .columns {
                @include size(1080px, 160.33px);
                @include disFlexRowBet();
                gap: 40px;
                .column {
                    @include size(333.33px, 157px);
                    @include disFlexCoCen();
                    gap: 20px;
                    text-align: center;
                    .icon-text {
                        @include size(333.33px, 119px);
                        gap: 20px;
                        img {
                            @include size(30px, 30px);
                            margin-bottom: 10px;
                        }
                        .column-title-text {
                            @include size(350px, 69px);
                            @include disFlexCoCen();
                            gap: 10px;
                            h4 {
                                @include size(350px, 23px);
                                @include mainCon1Text(700, 18px, 22.59px, center, #373F41);
                            }
                            p {
                                @include size(350px, 36px);
                                @include mainCon1Text(400, 14px, 17.57px, center, #373F41);
                            }
                        }
                    }
                    .textual {
                        @include size(58px, 18px);
                        gap: 10px;
                        text-decoration: none;
                        p {
                            @include size(58px, 18px);
                            @include mainCon1Text(700, 14px, 17.57px, center, #3C64B1);
                        }
                    }
                }
            }
        }
        .wrapper-1 {
            @include size(1200px, 420px);
            display: flex;
            margin: auto;
            gap: 40px;
            img {
                @include size(600px, 420px);
                background-color: #D9D9D9;
            }
            .content {
                @include size(560px, 320px);
                margin: auto;
                gap: 40px;
                .content-title-text {
                    @include size(560px, 194px);
                    gap: 20px;
                    h4 {
                        @include size(540px, 114px);
                        @include mainCon2Text(700, 30px, 37.65px, #373F41);
                    }
                    p {
                        @include size(540px, 60px);
                        @include mainCon2Text(400, 16px, 20.08px, #737B7D);
                    }
                }
                .field {
                    @include size(560px, 86px);
                    @include disFlexCoCen();
                    gap: 16px;
                    .form {
                        @include size(560px, 40px);
                        display: flex;
                        flex-direction: row;
                        justify-content: stretch;
                        gap: 20px;
                        input {
                            @include size(405px, 40px);
                            background-color: #F4F5F4;
                            gap: 10px;
                            border: 0;
                        }
                        button {
                            @include size(135px, 40px);
                            @include btn-1();
                            padding: 10px, 20px;
                            cursor: pointer;
                            span {
                                @include size(95px, 18px);
                                @include mainCon1Text(700, 14px, 17.57px, center, #FFFFFF);
                            }
                        }
                    }
                    p {
                        @include size(560px, 30px);
                        @include mainCon2Text(600m, 12px, 15.06px, #737B7D);
                    }
                }
            }
        }
        .wrapper-2 {
            @include size(1200px, 420px);
            @include disFlexRowBet();
            gap: 40px;
            margin: auto;
            .content {
                @include size(560px, 284px);
                margin: auto 0;
                gap: 60px;
                h4 {
                    @include size(540px, 114px);
                    @include mainCon2Text(700, 30px, 37.65px, #373F41);
                    margin-bottom: 30px;
                }
                .column {
                    @include size(560px, 110px);
                    gap: 30px;
                    display: flex;
                    list-style-type: none;
                    .left {
                        @include size(255px, 110px);
                        gap: 20px;
                        img {
                            @include size(26.9px, 30px);
                        }
                        p {
                            @include size(255px, 60px);
                            @include mainCon2Text(400, 16px, 20.08px, #737B7D);
                        }
                    }
                    .right {
                        @include size(255px, 110px);
                        gap: 20px;
                        img {
                            @include size(36.67px, 30px);
                        }
                        p {
                            @include size(255px, 60px);
                            @include mainCon2Text(400, 16px, 20.08px, #737B7D);
                        }
                    }
                }
            }
            img{
                @include size(600px, 420px);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .gallery {
            @include size(1200px, 334px);
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin: auto;
            .column {
                @include size(240px, 334px);
                list-style-type: none;
                gap: 20px;
                img {
                    @include size(240px, 240px);
                }
                .content {
                    @include size(240px, 74px);
                    text-align: center;
                    gap: 15px;
                    h4 {
                        @include size(240px, 23px);
                        @include mainCon1Text(700, 18px, 22.59px, center, #373F41);
                    }
                    p {
                        @include size(240px, 36px);
                        @include mainCon1Text(400, 14px, 17.57px, center, #373F41);
                    }
                }
            }
        }
    }
}

// @media (min-width: 992px) and (max-width: 1200px) {
//     body {
//         @include size(100%, 100vh);
//         font-family: 'Mulish', sans-serif;
//         padding: 0, 0, 60px, 0;
//         font-size: 18px;
//     }

//     header {
//         @include size(100%, 86px);
//         background-color: rgba(239, 243, 255, 1);
//         position: sticky;
//         gap: 10px;
//         .header {
//             @include size(83.33%, 40px);
//             @include disFlexBet();
//             padding: 23px 0;
//             align-items: center;
//             .header-logo {
//                 @include size(52.8px, 29.3px);
//                 cursor: pointer;
//             }
//             .header-text-1 {
//                 @include size(215px, 18px);
//                 @include disFlexBet();
//                 gap: 30px;
//                 p {
//                     height: 18px;
//                 }
//             }
//             .header-text-2 {
//                 @include size(169px, 40px);
//                 @include disFlexBet();
//                 gap: 20px;
//                 align-items: center;
//                 .header-btn-login {
//                     @include size(60px, 18px);
//                     @include mainCon1Text(700, 18px, 17.57px, center, rgba(60, 100, 177, 1));
//                     cursor: pointer;
//                 }
//                 .header-btn {
//                     @include size(107px, 40px);
//                     @include btn-1();
//                     padding: 10px, 20px;
//                     cursor: pointer;
//                     span {
//                         @include headerText2();
//                         font-size: 18px;
//                     }
//                 }
//             }
//         }
//     }

//     main {
//         @include size(100%, 2352.33px);
//         @include disFlexCoCen();
//         object-fit: contain;
//         gap: 80px;
//         .container-1 {
//             @include size(100%, 560px);
//             @include disFlexCoCen();
//             object-fit: contain;
//             .content-synthetic {
//                 @include size(100%, 216.7px);
//                 @include disFlexCoCen();
//                 object-fit: contain;
//                 position: absolute;
//                 top: 200px;
//                 left: 0;
//                 gap: 40px;
//                 margin: auto;
//                 z-index: 1;
//                 .synthetic {
//                     @include size(608.3px, 150px);
//                     gap: 30px;
//                     .content-content {
//                         @include size(608.3px, 91.7px);
//                         @include mainCon1TextP();
//                         margin-bottom: 20px;
//                         .content-h3 {
//                             text-align: center;
//                         }
//                     }
//                     .content-text {
//                         @include size(608.3p, 40px);
//                         @include mainCon1TextP();
//                         .content-text-p {
//                             text-align: center;
//                         }
//                     }
//                 }
//                 .btn-synthetic {
//                     @include size(229.2px, 40px);
//                     display: flex;
//                     gap: 24px;
//                     .btn-1 {
//                         @include btn-1();
//                         @include size(112.5px, 40px);
//                         padding: 10px, 20px;
//                         cursor: pointer;
//                         span {
//                             @include size(95px, 14px);
//                             @include mainCon1Text(700, 14px, 17.57px, center, white);
//                         }
//                     }
//                     .btn-2 {
//                         @include btn-2();
//                         @include size(100px, 40px);
//                         padding: 10px, 20px;
//                         cursor: pointer;
//                         span {
//                             @include mainCon1Text(700, 14px, 17.57px, center, #3C64B1);
//                         }
//                     }
//                 }
//             }
//             .container-1-bg {
//                 @include size(100%, 560px);
//                 background-image: url('../images/main/container-1/bg.jpeg');
//                 background-size: cover;
//                 background-position: center;
//                 color: rgba(60, 100, 177, 1);
//                 opacity: 0.08;
//             }
//         }
//         .container-2 {
//             @include size(83.33%, 1712.33px);
//             @include disFlexCoCen();
//             .features {
//                 @include size(100%,298.33px);
//                 @include disFlexCoCen();
//                 gap: 60px;
//                 margin: auto;
//                 .content {
//                     @include size(100%, 78px);
//                     @include disFlexCoCen();
//                     text-align: center;
//                     gap: 20px;
//                     margin: auto;
//                     .title {
//                         @include size(100%, 38px);
//                         margin-bottom: 20px;
//                     }
//                     .text {
//                         @include size(100%, 20px);
//                     }
//                 }
//                 .columns {
//                     @include size(83.33%, 160.33px);
//                     @include disFlexRowBet();
//                     gap: 40px;
//                     .column {
//                         @include size(221.5px, 157px);
//                         @include disFlexCoCen();
//                         gap: 20px;
//                         text-align: center;
//                         @include disFlexCoCen();
//                         .icon-text {
//                             @include size(221.5px, 119px);
//                             @include disFlexCoCen();
//                             gap: 20px;
//                             img {
//                                 @include size(30px, 30px);
//                                 margin-bottom: 10px;
//                             }
//                             .column-title-text {
//                                 @include size(221.5px, 69px);
//                                 @include disFlexCoCen();
//                                 gap: 10px;
//                                 h4 {
//                                     @include size(221.5px, 23px);
//                                 }
//                                 p {
//                                     @include size(221.5px, 36px);
//                                 }
//                             }
//                         }
//                         .textual {
//                             @include size(58px, 18px);
//                             margin-top: 20px;
//                             gap: 10px;
//                             p {
//                                 @include size(58px, 18px);
//                             }
//                         }
//                     }
//                 }
//             }
//             .wrapper-1 {
//                 @include size(100%, 420px);
//                 display: flex;
//                 margin: auto;
//                 gap: auto;
//                 img {
//                     @include size(500px, 350px);
//                     background-color: #D9D9D9;
//                     margin: auto 0;
//                 }
//                 .content {
//                     @include size(303.3px, 100%);
//                     margin: auto;
//                     .content-title-text {
//                         @include size(303.3px, 75%);
//                         margin-bottom: 20px;
//                         h4 {
//                             @include size(303.3px, 60%);
//                             font-size: 28px;
//                         }
//                         p {
//                             @include size(303.3px, 60px);
//                         }
//                     }
//                     .field {
//                         @include size(303.3px, 86px);
//                         @include disFlexCoCen();
//                         gap: 5px;
//                         .form {
//                             @include size(303.3px, 40px);
//                             display: flex;
//                             flex-direction: row;
//                             justify-content: stretch;
//                             gap: 6px;
//                             input {
//                                 @include size(180px, 40px);
//                                 background-color: #F4F5F4;
//                                 gap: 10px;
//                                 border: 0;
//                             }
//                             button {
//                                 @include size(100px, 40px);
//                                 @include btn-1();
//                                 padding: 10px, 20px;
//                                 cursor: pointer;
//                                 span {
//                                     @include size(95px, 18px);
//                                 }
//                             }
//                         }
//                         p {
//                             @include size(293.3px, 30px);
//                         }
//                     }
//                 }
//             }
//             .wrapper-2 {
//                 @include size(100%, 420px);
//                 @include disFlexRowBet();
//                 justify-content: center;
//                 align-items: center;
//                 margin: auto 0;
//                 gap: 0;
//                 .content {
//                     @include size(100%, 284px);
//                     object-fit: contain;
//                     margin: auto 0;
//                     gap: 60px;
//                     h4 {
//                         @include size(450px, 114px);
//                         margin-bottom: 30px;
//                     }
//                     .column {
//                         @include size(466.7px, 110px);
//                         gap: 30px;
//                         display: flex;
//                         .left {
//                             @include size(212.5px, 110px);
//                             gap: 20px;
//                             img {
//                                 @include size(26.9px, 30px);
//                             }
//                             p {
//                                 @include size(200px, 60px);
//                             }
//                         }
//                         .right {
//                             @include size(212.5px, 110px);
//                             gap: 20px;
//                             img {
//                                 @include size(36.67px, 30px);
//                             }
//                             p {
//                                 @include size(200px, 60px);
//                             }
//                         }
//                     }
//                 }
//                 img{
//                     @include size(400px, 280px);
//                     background-repeat: no-repeat;
//                     background-position: center center;
//                 }
//             }
//             .gallery {
//                 @include size(100%, 334px);
//                 @include disFlexBet();
//                 margin: auto;
//                 .column {
//                     @include size(188.3px, 334px);
//                     gap: 20px;
//                     img {
//                         @include size(188.3px, 188.3px);
//                     }
//                     .content {
//                         @include size(188.3px, 74px);
//                         text-align: center;
//                         gap: 15px;
//                         h4 {
//                             @include size(188.3px, 23px);
//                         }
//                         p {
//                             @include size(188.3px, 36px);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 600px) and (max-width: 991px) {
//     body {
//         @include size(100%, 100vh);
//         font-family: 'Mulish', sans-serif;
//         padding: 0, 0, 60px, 0;
//         font-size: 18px;
//     }

//     header {
//         @include size(100%, 86px);
//         gap: 10px;
//         background-color: rgba(239, 243, 255, 1);
//         position: sticky;
//         .header {
//             @include size(83.33%, 40px);
//             @include disFlexBet();
//             padding: 23px 0;
//             align-items: center;
//             .header-logo {
//                 @include size(43.7px, 24.3px);
//                 cursor: pointer;
//             }
//             .header-text-1 {
//                 @include size(148.3px, 16px);
//                 @include disFlexBet();
//                 gap: 15px;
//             }
//             .header-text-2 {
//                 @include size(116.5px, 40px);
//                 @include disFlexBet();
//                 align-items: center;
//                 gap: 10px;
//                 .header-btn-login {
//                     @include size(50px, 18px);
//                     cursor: pointer;
//                 }
//                 .header-btn {
//                     @include size(73.8px, 40px);
//                     @include btn-1();
//                     padding: 10px, 20px;
//                     cursor: pointer;
//                     span {
//                         font-weight: 600;
//                     }
//                 }
//             }
//         }
//     }

//     main {
//         @include size(100%, 2352.33px);
//         @include disFlexCoCen();
//         gap: 80px;
//         .container-1 {
//             @include size(100%, 560px);
//             @include disFlexCoCen();
//             object-fit: contain;
//             .content-synthetic {
//                 @include size(100%, 260px);
//                 @include disFlexCoCen();
//                 justify-content: center;
//                 position: absolute;
//                 top: 200px;
//                 left: 0;
//                 gap: 40px;
//                 margin: auto;
//                 z-index: 1;
//                 .synthetic {
//                     @include size(80%, 180px);
//                     justify-content: center;
//                     margin-bottom: 30px;
//                     gap: 30px;
//                     .content-content {
//                         @include size(100%, 110px);
//                         @include mainCon1TextP();
//                         justify-content: center;
//                         margin-bottom: 60px;
//                         .content-h3 {
//                             text-align: center;
//                         }
//                     }
//                     .content-text {
//                         @include size(100%, 40px);
//                         @include mainCon1TextP();
//                         .content-text-p {
//                             text-align: center;
//                         }
//                     }
//                 }
//                 .btn-synthetic {
//                     @include size(275px, 40px);
//                     display: flex;
//                     gap: 24px;
//                     .btn-1 {
//                         @include btn-1();
//                         @include size(135px, 40px);
//                         padding: 10px, 20px;
//                         cursor: pointer;
//                         span {
//                             @include size(95px, 18px);
//                         }
//                     }
//                     .btn-2 {
//                         @include btn-2();
//                         @include size(116px, 40px);
//                         padding: 10px, 20px;
//                         cursor: pointer;
//                     }
//                 }
//             }
//             .container-1-bg {
//                 @include size(100%, 560px);
//                 object-fit: contain;
//                 background-image: url('../images/main/container-1/bg.jpeg');
//                 background-size: cover;
//                 background-position: center;
//                 color: rgba(60, 100, 177, 1);
//                 opacity: 0.08;
//             }
//         }
//         .container-2 {
//             @include size(83.33%, 1712.33px);
//             @include disFlexCoCen();
//             object-fit: contain;
//             gap: 80px;
//             .features {
//                 @include size(83.33%,298.33px);
//                 @include disFlexCoCen();
//                 object-fit: contain;
//                 gap: 60px;
//                 margin: auto;
//                 .content {
//                     @include size(100%, 78px);
//                     @include disFlexCoCen();
//                     text-align: center;
//                     gap: 20px;
//                     margin: auto;
//                     .title {
//                         @include size(100%, 38px);
//                         object-fit: contain;
//                         margin-bottom: 20px;
//                     }
//                     .text {
//                         @include size(100%, 20px);
//                         object-fit: contain;
//                     }
//                 }
//                 .columns {
//                     @include size(100%, 160.33px);
//                     @include disFlexRowBet();
//                     align-items: center;
//                     gap: 10px;
//                     .column {
//                         @include size(30%, 157px);
//                         @include disFlexCoCen();
//                         gap: 20px;
//                         text-align: center;
//                         .icon-text {
//                             @include size(100%, 119px);
//                             object-fit: contain;
//                             gap: 20px;
//                             img {
//                                 @include size(30px, 30px);
//                                 margin-bottom: 10px;
//                             }
//                             .column-title-text {
//                                 @include size(100%, 69px);
//                                 @include disFlexCoCen();
//                                 object-fit: contain;
//                                 gap: 10px;
//                                 h4 {
//                                     @include size(100%, 23px);
//                                     object-fit: contain;
//                                     margin: auto;
//                                 }
//                                 p {
//                                     @include size(100%, 36px);
//                                     object-fit: contain;
//                                 }
//                             }
//                         }
//                         .textual {
//                             @include size(58px, 18px);
//                             gap: 10px;
//                             p {
//                                 @include size(58px, 18px);
//                             }
//                         }
//                     }
//                 }
//             }
//             .wrapper-1 {
//                 @include size(100%, 420px);
//                 display: flex;
//                 justify-content: space-between;
//                 margin: auto;
//                 gap: 0;
//                 img {
//                     width: 45%;
//                     object-fit: contain;
//                     background-color: transparent;
//                 }
//                 .content {
//                     @include size(50%, 100%);
//                     margin: auto 0;
//                     gap: 40px;
//                     .content-title-text {
//                         @include size(100%, 70%);
//                         object-fit: contain;
//                         margin: auto;
//                         gap: 20px;
//                         h4 {
//                             @include size(100%, 60%);
//                             margin: auto;
//                             object-fit: contain;
//                         }
//                         p {
//                             @include size(100%, 40%);
//                             margin: auto;
//                             object-fit: contain;
//                         }
//                     }
//                     .field {
//                         @include size(100%, 86px);
//                         @include disFlexCoCen();
//                         gap: 16px;
//                         .form {
//                             @include size(100%, 40px);
//                             display: flex;
//                             flex-direction: row;
//                             justify-content: stretch;
//                             gap: 20px;
//                             input {
//                                 @include size(70%, 40px);
//                                 background-color: #F4F5F4;
//                                 gap: 10px;
//                                 border: 0;
//                             }
//                             button {
//                                 @include size(30%, 40px);
//                                 @include btn-1();
//                                 padding: 10px, 20px;
//                                 cursor: pointer;
//                                 span {
//                                     @include size(95px, 18px);
//                                 }
//                             }
//                         }
//                         p {
//                             @include size(100%, 30px);
//                         }
//                     }
//                 }
//             }
//             .wrapper-2 {
//                 @include size(100%, 420px);
//                 @include disFlexRowBet();
//                 object-fit: contain;
//                 gap: auto;
//                 margin: auto;
//                 align-items: center;
//                 .content {
//                     @include size(50%, 284px);
//                     object-fit: contain;
//                     margin: auto 0;
//                     gap: auto;
//                     h4 {
//                         @include size(100%, 114px);
//                         object-fit: contain;
//                         margin-bottom: 30px;
//                         font-size: 24px;
//                     }
//                     .column {
//                         @include size(100%, 110px);
//                         object-fit: contain;
//                         display: flex;
//                         gap: auto;
//                         .left {
//                             @include size(45%, 110px);
//                             object-fit: contain;
//                             gap: 20px;
//                             img {
//                                 @include size(26.9px, 30px);
//                             }
//                             p {
//                                 @include size(100%, 60px);
//                                 object-fit: contain;
//                             }
//                         }
//                         .right {
//                             @include size(45%, 110px);
//                             object-fit: contain;
//                             gap: 20px;
//                             img {
//                                 @include size(36.67px, 30px);
//                             }
//                             p {
//                                 @include size(100%, 60px);
//                                 object-fit: contain;
//                             }
//                         }
//                     }
//                 }
//                 img{
//                     @include size(45%, 289.6px);
//                     object-fit: contain;
//                     background-repeat: no-repeat;
//                     background-position: center center;
//                 }
//             }
//             .gallery {
//                 @include size(100%, 334px);
//                 object-fit: contain;
//                 display: flex;
//                 flex-wrap: wrap;
//                 margin: auto;
//                 .column {
//                     @include size(45%, 334px);
//                     gap: 20px;
//                     img {
//                         @include size(100%, 240px);
//                         object-fit: contain;
//                     }
//                     .content {
//                         @include size(100%, 74px);
//                         object-fit: contain;
//                         text-align: center;
//                         gap: 15px;
//                         h4 {
//                             @include size(100%, 23px);
//                         }
//                         p {
//                             @include size(100%, 36px);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 320px) and (max-width: 599px) {
//     body {
//         font-family: 'Mulish', sans-serif;
//         padding: 0, 0, 60px, 0;
//         @include size(100%, 2498.33px);
//         object-fit: contain;
//         font-size: 18px;
//     }

//     header {
//         @include size(100%, 86px);
//         object-fit: contain;
//         background-color: rgba(239, 243, 255, 1);
//         position: sticky;
//         padding: auto;
//         gap: 10px;
//         .header {
//             display: none;
//         }
//         .menu {
//             @include size(100%, 40px);
//             @include disFlexBet();
//             padding: 23px 0;
//             align-items: center;
//             margin: 0 auto;
//             .dropdown {
//                 position: relative;
//                 display: inline-block;
//                 img {
//                     width: 30px;
//                 }
//                 .dropdown-content {
//                     display: none;
//                     position: absolute;
//                     background-color: #f9f9f9;
//                     min-width: 160px;
//                     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//                     padding: 12px 16px;
//                     z-index: 1;
//                     right: 10px;
//                     gap: 15px;
//                     .header-btn-login {
//                         @include btn-2();
//                         text-align: center;
//                     }
//                     .header-btn {
//                         @include btn-1();
//                         width: 100%;
//                         padding: 5px 0;
//                     }
//                 }
//             }
//             .dropdown:hover .dropdown-content {
//                 display: block;
//             }
//         }
//     }

//     main {
//         @include size(100%, 2352.33px);
//         @include disFlexCoCen();
//         object-fit: contain;
//         gap: 80px;
//         .container-1 {
//             @include size(100%, 560px);
//             @include disFlexCoCen();
//             object-fit: contain;
//             .content-synthetic {
//                 @include size(100%, 260px);
//                 @include disFlexCoCen();
//                 object-fit: contain;
//                 gap: 100px;
//                 margin: auto;
//                 z-index: 1;
//                 position: absolute;
//                 top: 150px;
//                 left: 0;
//                 .synthetic {
//                     @include size(80%, 180px);
//                     object-fit: contain;
//                     gap: 90px;
//                     .content-content {
//                         @include size(100%, 110px);
//                         @include mainCon1TextP();
//                         object-fit: contain;
//                         margin-bottom: 50px;
//                         .content-h3 {
//                             text-align: center;
//                             font-size: 30px;
//                         }
//                     }
//                     .content-text {
//                         @include size(100%, 40px);
//                         @include mainCon1TextP();
//                         object-fit: contain;
//                         .content-text-p {
//                             text-align: center;
//                         }
//                     }
//                 }
//                 .btn-synthetic {
//                     @include size(40%, 40px);
//                     object-fit: contain;
//                     display: flex;
//                     gap: 24px;
//                     .container-1-btn-1 {
//                         @include btn-1();
//                         @include size(50%, 40px);
//                         object-fit: contain;
//                         padding: 5px 10px;
//                         cursor: pointer;
//                         span {
//                             @include size(95px, 18px);
//                         }
//                     }
//                     .container-1-btn-2 {
//                         @include btn-2();
//                         @include size(45%, 40px);
//                         object-fit: contain;
//                         padding: 5px 10px;
//                         cursor: pointer;
//                     }
//                 }
//             }
//             .container-1-bg {
//                 @include size(100%, 560px);
//                 object-fit: contain;
//                 background-image: url('../images/main/container-1/bg.jpeg');
//                 background-size: cover;
//                 background-position: center;
//                 color: rgba(60, 100, 177, 1);
//                 opacity: 0.08;
//             }
//         }
//         .container-2 {
//             @include size(83.33%, fit-content);
//             @include disFlexCoCen();
//             object-fit: contain;
//             gap: 100px;
//             .features {
//                 width: 100%;
//                 height: 700px;
//                 @include disFlexCoCen();
//                 object-fit: contain;
//                 gap: 50px;
//                 margin:0 auto;
//                 .content {
//                     @include size(100%, 78px);
//                     @include disFlexCoCen();
//                     object-fit: contain;
//                     text-align: center;
//                     gap: 20px;
//                     margin: 0;
//                     .title {
//                         @include size(100%, 38px);
//                         font-size: 28px;
//                     }
//                     .text {
//                         @include size(100%, 20px);
//                         font-size: 18px;
//                     }
//                 }
//                 .columns {
//                     @include size(100%, 160.33px);
//                     display: flex;
//                     flex-direction: column;
//                     object-fit: contain;
//                     gap: 40px;
//                     .column {
//                         @include size(33%, 157px);
//                         @include disFlexCoCen();
//                         object-fit: contain;
//                         text-align: center;
//                         align-items: center;
//                         gap: 20px;
//                         margin: 0 auto;
//                         .column-div-icon-text {
//                             @include size(100%, 119px);
//                             object-fit: contain;
//                             gap: 20px;
//                             img {
//                                 @include size(30px, 30px);
//                                 margin-bottom: 10px;
//                             }
//                             .column-title-text {
//                                 @include size(100%, 69px);
//                                 @include disFlexCoCen();
//                                 object-fit: contain;
//                                 gap: 10px;
//                                 h4 {
//                                     @include size(100%, 23px);
//                                     object-fit: contain;
//                                 }
//                                 p {
//                                     @include size(100%, 36px);
//                                     object-fit: contain;
//                                 }
//                             }
//                         }
//                         .column-div-textual {
//                             @include size(100%, 18px);
//                             object-fit: contain;
//                             gap: 10px;
//                             p {
//                                 @include size(100%, 18px);
//                                 object-fit: contain;
//                             }
//                         }
//                     }
//                 }
//             }
//             .wrapper-1 {
//                 @include size(100%, none);
//                 object-fit: contain;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 40px;
//                 img {
//                     @include size(50%, 420px);
//                     object-fit: contain;
//                     background-color: #D9D9D9;
//                 }
//                 .content {
//                     @include size(100%, 320px);
//                     object-fit: contain;
//                     margin: auto;
//                     gap: 40px;
//                     .content-title-text {
//                         @include size(100%, 194px);
//                         object-fit: contain;
//                         gap: 20px;
//                         h4 {
//                             @include size(100%, 114px);
//                             object-fit: contain;
//                             font-size: 22px;
//                         }
//                         p {
//                             @include size(100%, 60px);
//                             object-fit: contain;
//                             font-size: 14px;
//                         }
//                     }
//                     .field {
//                         @include size(100%, 86px);
//                         @include disFlexCoCen();
//                         object-fit: contain;
//                         gap: 16px;
//                         .form {
//                             @include size(100%, 40px);
//                             object-fit: contain;
//                             display: flex;
//                             flex-direction: row;
//                             justify-content: stretch;
//                             gap: 20px;
//                             input {
//                                 @include size(70%, 40px);
//                                 object-fit: contain;
//                                 background-color: #F4F5F4;
//                                 gap: 10px;
//                                 border: 0;
//                             }
//                             button {
//                                 @include size(25%, 40px);
//                                 @include btn-1();
//                                 object-fit: contain;
//                                 padding: 10px, 20px;
//                                 cursor: pointer;
//                                 span {
//                                     @include size(95px, 18px);
//                                 }
//                             }
//                         }
//                         p {
//                             @include size(100%, 30px);
//                             object-fit: contain;
//                         }
//                     }
//                 }
//             }
//             .wrapper-2 {
//                 @include size(100%, 420px);
//                 @include disFlexCoCen();
//                 object-fit: contain;
//                 margin: auto;
//                 gap: 80px;
//                 .content {
//                     @include size(100%, 284px);
//                     object-fit: contain;
//                     margin: auto 0;
//                     gap: 60px;
//                     h4 {
//                         @include size(100%, 114px);
//                         object-fit: contain;
//                         font-size: 22px;
//                     }
//                     .column {
//                         @include size(100%, 110px);
//                         object-fit: contain;
//                         gap: 30px;
//                         display: flex;
//                         .left {
//                             @include size(45%, 110px);
//                             object-fit: contain;
//                             gap: 20px;
//                             img {
//                                 @include size(26.9px, 30px);
//                             }
//                             p {
//                                 @include size(100%, 60px);
//                                 object-fit: contain;
//                             }
//                         }
//                         .right {
//                             @include size(45%, 110px);
//                             object-fit: contain;
//                             gap: 20px;
//                             img {
//                                 @include size(36.67px, 30px);
//                             }
//                             p {
//                                 @include size(100%, 60px);
//                                 object-fit: contain;
//                             }
//                         }
//                     }
//                 }
//                 img{
//                     @include size(100%, 420px);
//                     object-fit: contain;
//                     background-repeat: no-repeat;
//                     background-position: center center;
//                 }
//             }
//             .gallery {
//                 @include size(100%, 334px);
//                 @include disFlexBet();
//                 object-fit: contain;
//                 display: flex;
//                 flex-wrap: wrap;
//                 margin-top: auto;
//                 .column {
//                     @include size(45%, 334px);
//                     gap: 10px;
//                     img {
//                         @include size(100%, 240px);
//                         object-fit: contain;
//                     }
//                     .content {
//                         @include size(100%, 74px);
//                         object-fit: contain;
//                         text-align: center;
//                         gap: 20px;
//                         h4 {
//                             @include size(100%, 23px);
//                         }
//                         p {
//                             @include size(100%, 36px);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }